mixin dranken(price, items)
	if items
		.col-sm-6.price-container
			section.price
				if items[0].length === 1
					div #{items}
				else
					for itm in items
						div #{itm}

				.consumptions
					div ............................................ X #{price} = ..............


mixin dranken150
	+dranken(dranken150.price, dranken150.itemsShort)

mixin dranken200
	+dranken(dranken200.price, dranken200.itemsShort)

mixin drankenAq
	+dranken(drankenAq.price, drankenAq.itemsShort)

mixin drankenZwareBieren
	+dranken(drankenZwareBieren.price, drankenZwareBieren.itemsShort)

mixin versnaperingen
	+dranken(versnaperingen.price, versnaperingen.itemsShort)

doctype html
html
head
	meta(charset="utf-8")
	title Consumpties
	link(rel="stylesheet" href="consumpties.css")

body
	.page
		h1 Consumpties
		.header
			span Datum:........................................................................
			br
			br
			span Naam:.........................................................................

		.container.prices
			.row
				+dranken150
				+drankenZwareBieren

			.row
				+drankenAq
				+dranken200

			.row
				+versnaperingen

		.total <b>Totaal</b> = ..............
