mixin dranken(price, items)
	.col-sm-6.price-container
		section.price
			div
				.price-badge € #{price}

			div
				for itm in items
					span= itm
					br

mixin dranken150
	+dranken('1,50', ['Cola / Light / Zero', 'Jupiler / Hoegaerden', 'Spa / Vittel', 'Koffie / Soep (!?)'])

mixin dranken200
	+dranken('2,00', ['Ice-Tea', 'Wijn', 'Carlsberg'])

mixin drankenAq
	+dranken('2,50', ['Aquarius (flesje)', 'Orange / Lemon / Red Peach'])

mixin drankenZwareBieren
	+dranken('2.50', ['Zware bieren', 'Leffe / Blond / Donker (!?)', 'Duvel / La Chouffe (!?)'])

mixin versnaperingen
	+dranken('1,00', ['Chips / Zout / Paprika', 'Chocolade / Suikerwafel'])


doctype html
html
head
	meta(charset="utf-8")
	title Prijzenlijst
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	link(rel="stylesheet" href="prijzenlijst.css")

body
	table.logo
		tr
			td.first(width="49%") Prijzenlijst
			td(width="1%")
				img(src="logo-only.png")
			td(width="50%") Erembodegem



	.container.prices
		.row
			+dranken150
			+drankenZwareBieren

		hr

		.row
			+drankenAq
			+dranken200

		hr

		.row
			+versnaperingen
