doctype html
html
head
	meta(charset="utf-8")
	title Prijzenlijst
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	//- link(rel="stylesheet" href="style.css")

body
	h1 TTC Erembodegem
	h2 Prijzenlijst

	.container
		table.table
			tbody
				tr
					td.
						Cola / Light / Zero<br>
						Spa / Vittel<br>
						Koffie / Soep<br>
						Jupiler / Hoegaerden

					td € 1,50

				tr
					td.
						Ice-Tea<br>
						Wijn<br>
						Carlsberg

					td € 2,00

				tr
					td.
						Aquarius (flesje)<br>
						Orange / Lemon / Red Peach

					td € 2,50

				tr
					td.
						Zware bieren<br>
						Leffe / Blond / Donker (!?)<br>
						Duvel

					td € 2,50


				tr
					td.
						Chips / Zout / Paprika<br>
						Chocolade / Suikerwafel

					td € 1,00
