* {
	font-family: Helvetica;
}

body {
	margin-top: 20px;
	width: 793px;
}

.logo {
	width: 600px;
	margin-left: 192px;
}

.logo td {
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
}

.logo .first {
	text-align: right;
}


.prices {
	margin-top: 40px;
}

.row {
	margin-bottom: 25px;
	display: flex;
}

.price-container {
	display: flex;
}

section.price {
	display: flex;
	align-self: center;
}
section.price > div:first-child {
	float: left;
	width: 220px;
	align-self: center;
}
section.price > div:nth-child(2) {
	overflow: hidden;
	font-size: 32px;
	align-self: center;
}


div.price-badge {
	margin: 0 auto;

	width: 160px;
	height: 160px;
	line-height: 160px;
	border-radius: 160px;

	font-size: 42px;
	text-align: center;
	color: #fff;

	/*-webkit-print-color-adjust: exact;*/
	background: #000;
	/*background-color: #000;*/
}
