* {
	font-family: Helvetica;
}

body {
	margin-top: 20px;
}

.logo {
	width: 100%;
}

.logo td {
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
}

.logo .first {
	text-align: right;
}


.prices {
	margin-top: 40px;
}

.row {
	margin-bottom: 25px;
	display: flex;
}

.price-container {
	display: flex;
}

section.price {
	display: flex;
	align-self: center;
}
section.price > div:first-child {
	float: left;
	width: 140px;
	align-self: center;
}
section.price > div:nth-child(2) {
	overflow: hidden;
	font-size: 24px;
	align-self: center;
}


div.price-badge {
	margin: 0 auto;

	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 80px;

	font-size: 24px;
	text-align: center;
	color: #fff;
	background: #000;
}
