mixin dranken(price, items)
	.col-sm-6.price-container
		section.price
			div
				.price-badge € #{price}

			div
				for itm in items
					span= itm
					br

mixin dranken150
	+dranken(dranken150.price, dranken150.items)

mixin dranken200
	+dranken(dranken200.price, dranken200.items)

mixin drankenAq
	+dranken(drankenAq.price, drankenAq.items)

mixin drankenZwareBieren
	+dranken(drankenZwareBieren.price, drankenZwareBieren.items)

mixin versnaperingen
	+dranken(versnaperingen.price, versnaperingen.items)


doctype html
html
head
	meta(charset="utf-8")
	title Prijzenlijst
	link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
	link(rel="stylesheet" href="prijzenlijst.css")

body
	table.logo
		tr
			td.first(width="261") Prijzenlijst
			td(width="218")
				img(src="logo-only.png" width="218" height="173")
			td(width="287") Erembodegem

	.container.prices
		.row
			+dranken150
			+drankenZwareBieren

		hr

		.row
			+drankenAq
			+dranken200

		hr

		.row
			+versnaperingen
